@media screen and (min-device-width: 768px) {
.infos {
    background-color: #90aead;
    margin-top: 3.125em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 25em;
  }

.banner img {
    width: 100%;
    height: 500px;
}

.banner {
    text-align: center;
    color: white;
    position: relative;
    z-index: -1;
  }

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    text-shadow: black 1px 0 10px;
}
    #google:hover {
    text-decoration: underline;
    color: white;
  }

  #facebook:hover {
    text-decoration: underline;
    color: white;
  }

  .formulaire {
    background-color: #90aead;
    margin-top: 50px;
    padding-left: 300px;
  }

  .formulaire input {
    height: 40px;
    width: 600px;
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
  }

  input::placeholder {
    padding-left: 0px;
  }

  input {
    padding-left: 15px;
  }

  textarea {
    padding-top: 15px;
    padding-left: 15px;
  }

  #nom{
    margin-top: 30px;
  }

  #envoyer {
    padding: 20px 20px;
    background-color: #244855;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
  }

  #envoyer:hover {
    cursor: pointer;
  }

  #message {
    height: 250px;
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
  }

    .footer {
        background-color: #244855;
        padding-left: 2em;
        margin-bottom: -10px;
    }
}

@media screen and (max-device-width: 768px) {
    .infos {
        background-color: #90aead;
        margin-top: 3.125em;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        padding-left: 3em;
      }
    
    .banner img {
        width: 100%;
        height: 250px;
    }
    
    .banner {
        text-align: center;
        color: white;
        position: relative;
        z-index: -2;
      }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        text-shadow: black 1px 0 10px;
    }
        #google:hover {
    text-decoration: underline;
    color: white;
  }

  #facebook:hover {
    text-decoration: underline;
    color: white;
  }

  .formulaire {
    background-color: #90aead;
    margin-top: 50px;
    padding-left: 5em;
  }

  .formulaire input {
    height: 40px;
    width: 200px;
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
  }

  input::placeholder {
    padding-left: 0px;
  }

  input {
    padding-left: 15px;
  }

  textarea {
    padding-top: 15px;
    padding-left: 15px;
  }

  #nom{
    margin-top: 30px;
  }

  #envoyer {
    padding: 20px 20px;
    background-color: #244855;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
  }

  #envoyer:hover {
    cursor: pointer;
  }

  #message {
    height: 250px;
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
    width: 200px;
  }

    .footer {
        background-color: #244855;
        padding-left: 2em;
        margin-bottom: -10px;
    }
}

