@media screen and (min-device-width: 768px) {
   .banner {
    text-align: center;
    color: white;
    position: relative;
    z-index: -1;
  }

   .banner img {
    width: 100%;
    height: 700px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    text-shadow: black 1px 0 10px;
}

        .boutons-lien {
            margin-top: 7em;
            margin-left: 7em;
            display: flex;
        }

      #bouton-lien-facebook {
           background-color: #273ea5;
           border: none;
           height: 4em;
           color: white;
           width: 10em;
           border-radius: 10%;
    }

       #bouton-lien-google {
          background-color: #ef5350;
          border: none;
           height: 4em;
           color: white;
           width: 10em;
           border-radius: 10%;
    }

    
    @media screen and (max-device-width: 768px) {
        .banner {
    text-align: center;
    color: white;
    position: relative;
    z-index: -1;
  }

   .banner img {
    width: 100%;
    height: 250px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-shadow: black 1px 0 10px;
}

        .boutons-lien {
            margin-top: 7em;
            margin-left: 7em;
            flex-direction: column;
        }

        #bouton-lien-facebook {
           background-color: #273ea5;
           border: none;
           height: 4em;
           color: white;
           width: 10em;
           border-radius: 10%;
    }

       #bouton-lien-google {
          background-color: #ef5350;
          border: none;
           height: 4em;
           color: white;
           width: 10em;
           border-radius: 10%;
    }

    }
