@media screen and (min-device-width: 768px) {

     .infos {
        background-color: #90aead;
        margin-top: 3.125em;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        padding-left: 25em;
      }
    
    .banner img {
        width: 100%;
        height: 500px;
        z-index: -200;
    }
    
    .banner {
        text-align: center;
        color: white;
      }
    
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6em;
        text-shadow: black 1px 0 10px;
        z-index: 0;
    }

    #bannerimage {
        flex-direction: row;
        display: flex;
        margin-left: 9em;
    }

    .flex-mobile {
        display: flex;
    }

    #bannerimage p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        text-shadow: black 1px 0 10px;
        color: white;
    }

    #bannerimage {
        transition: all 1s ease;
    }

    #bannerimage button {
        margin-bottom: 1em;
        margin-left: 3em;
    }

    #bannerimage .soins-courants {
        border: none;
        position: relative;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/pansement1.jpg);
        height: 20em;
        width: 20em;
    }

    .soins-courants:hover {
        background-size: 150%;
    }

    #bannerimage .soins-spécialisés {
        border: none;
        position: relative;
        z-index: -1;
        background-size: cover;
        background-image: url(images/enfant-perf.jpg);
        height: 20em;
        width: 20em;
    }

    #bannerimage .soins-d-hygiène {
        border: none;
        position: relative;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/Soins_hygiene_confort_850_523.jpg);
        height: 20em;
        width: 20em;
    }
    
    #soins-courants {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px; 
        background-color: rgba(36, 72, 85, .6);
        margin-top: 2em;
    }

    #soins-spécialisés {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px; 
        background-color: rgba(36, 72, 85, .6);
        margin-top: 2em;
    }

    #soins-d-hygiène {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px; 
        background-color: rgba(36, 72, 85, .6);
        margin-top: 2em;
    }

    .soins-liste {
        margin-left: 2em;
    }

    .soins-texte {
        font-size: 20px; 
        color: white;
        margin-left: 2em;
    }

    .titre-banner-soins {
        font-size: 20px; 
        color: white;
        margin-left: 2em;
        text-decoration: underline;
    }
}
    
    @media screen and (max-device-width: 768px) {
        .infos {
            background-color: #90aead;
            margin-top: 3.125em;
            padding-top: 1.25em;
            padding-bottom: 1.25em;
            padding-left: 3em;
          }
        
        .banner img {
            width: 100%;
            height: 250px;
        }
        
        .banner {
            text-align: center;
            color: white;
            position: relative;
            z-index: -2;
          }
    
        .overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2em;
            text-shadow: black 1px 0 10px;
        }

        #bannerimage {
            flex-direction: column;
            display: flex;
            margin-left: 4em;
        }

        .flex-mobile {
            display: flex;
        }

        #bannerimage p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2em;
            text-shadow: black 1px 0 10px;
            color: white;
        }

        #bannerimage button {
            margin-bottom: 1em;
        }

        #bannerimage .soins-courants {
            border: none;
            position: relative;
            z-index: -1;
            margin-left: 3em;
            background-size: contain;
            background-image: url(images/pansement1.jpg);
            height: 200px;
            width: 200px;
        }
        #bannerimage .soins-spécialisés {
            border: none;
            position: relative;
            z-index: -1;
            margin-left: 3em;
            background-size: contain;
            background-image: url(images/enfant-perf.jpg);
            height: 200px;
            width: 200px;
        }

        #bannerimage .soins-d-hygiène {
            border: none;
            position: relative;
            z-index: -1;
            margin-left: 3em;
            background-size: cover;

            background-repeat: no-repeat;
            background-image: url(images/Soins_hygiene_confort_850_523.jpg);
            height: 200px;
            width: 200px;
        }
        
        #soins-courants {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px; 
            background-color: rgba(36, 72, 85, .6);
            margin-top: 2em;
        }
    
        #soins-spécialisés {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px; 
            background-color: rgba(36, 72, 85, .6);
            margin-top: 2em;
        }
    
        #soins-d-hygiène {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px; 
            background-color: rgba(36, 72, 85, .6);
            margin-top: 2em;
        }
    
        .soins-liste {
            margin-left: 2em;
        }
    
        .soins-texte {
            font-size: 20px; 
            color: white;
            margin-left: 2em;
        }
    
        .titre-banner-soins {
            font-size: 20px; 
            color: white;
            margin-left: 2em;
            text-decoration: underline;
        }
    }
